# ------------------------------
# Unreal Engine (기본 폴더들)
# ------------------------------
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# ------------------------------
# Visual Studio
# ------------------------------
.vs/
*.VC.db
*.suo
*.opensdf
*.sdf
*.log
*.tmp
*.user
*.pdb
*.obj
*.idb

# ------------------------------
# 실행 파일 및 빌드 산출물
# ------------------------------
*.exe
*.dll

# ------------------------------
# Visual Studio Code
# ------------------------------
.vscode/

# ------------------------------
# macOS 시스템 파일
# ------------------------------
.DS_Store

# ------------------------------
# Shader Cache (옵션: 필요 없을 경우)
# ------------------------------
*.ushaderbytecode
